//- GỌI FILE ĐỂ KẾ THỪA LẠI LAYOUT
extends layout/default.pug


//- nhúng file từ mixin
include mixins/box.pug

//- truyền vào nội dung thay đổi
block main 
    //- sử dụng mixin
    +box("Trang Liên Hệ", "Lorem ipsum dolor sit ?")