//- GỌI HÀM ĐỂ KẾ THỪA LẠI LAYOUT
extends layout/default.pug

//- nhúng file từ mixin
include mixins/box.pug

block main
    //- sử dụng mixin
    +box("Trang Chủ", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, repellat?")